@import '../../vars.scss';

.row {
  display: flex;
  margin: 15px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: $grey-light;
  border-radius: $border-radius;
  &-item {
    padding: 5px
  }
}

@media (max-width: 515px) {
  .row {
    flex-direction: column;
    margin: 10px 0px;
  }
}